<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="layoutService">
        <pipelines>
          <getLayoutServiceContext>
            <processor type="Jobify.Foundation.WildCardItemResolver.Pipelines.LayoutServiceWildCardItemResolver, Jobify.Foundation.WildCardItemResolver" resolve="true">
              <AllowedConfigurations hint="list">
                 Unless you change the Layout Service config used by your JSS app, this should always be present. 
                <jss>default</jss>
              </AllowedConfigurations>
              <!--<Applications hint="list">
                --><!-- Restrict the JSS apps for which this processor will execute. --><!--
                <reactApp>jobify</reactApp>
              </Applications>-->
              <!--<Routes hint="list">
                --><!-- Restrict the route items for which this processor will execute. IDs, item paths, and wildcard item paths are allowed. --><!--
                <employers>/sitecore/content/jobify/Home/Employers*</employers>
              </Routes>-->
            </processor>
          </getLayoutServiceContext>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>