<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">  
  <sitecore>
   <pipelines>  
	 <httpRequestBegin>
		<processor type="Jobify.Foundation.WildCardItemResolver.Pipelines.WildCardItemResolver, Jobify.Foundation.WildCardItemResolver" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" /> 
    </httpRequestBegin>
  </pipelines>
  </sitecore>
</configuration>